*.iml
.gradle
.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
debug.keystore
*.jks
*.keystore
*.apk
my-upload-key.jks
keystore_base64.txt
GITHUB_SECRETS.txt
SIGNING_INFO.txt
